extends layout

block content
  div.project-details
    h1 Edit Project: #{project.name}
    form(action='/projects/' + project._id + '/edit', method="POST")
      .form-group
        label.form-label(for="name") Name:
        input.form-input(type="text", id="name", name="name", value=project.name)
      form(action='/projects/' + project._id + '/update-archive-status', method="POST")
        .form-group
          input.form-inpu(type="radio", name="archived", value="false", checked=project.archived === false, onchange="handleRadioChange(this)")
          | Active
          input.form-inpu(type="radio", name="archived", value="true", checked=project.archived === true, onchange="handleRadioChange(this)")
          | Archived
        input.form-submit(type="submit", value="Update Status")
      br
      br
      .form-group
        label.form-label(for="description") Description:
        textarea.form-input.form-textarea(name="description", id="description")= project.description
      .form-group
        label.form-label(for="price") Price:
        input.form-input(type="number", id="price", name="price", value=project.price)
      .form-group
        label.form-label(for="finished_jobs") Finished Jobs:
          ul#finished_jobs
            each job, index in project.finished_jobs
              li
                input.form-input(type="text", name=`finished_jobs[${index}][job_name]`, value=job.job_name)
      .form-group
        label.form-label(for="start_date") Start Date:
        input.form-input(type="date", id="start_date", name="start_date", value=project.start_date_formatted)
      .form-group
        label.form-label(for="end_date") End Date:
        input.form-input(type="date", id="end_date", name="end_date", value=project.end_date_formatted)
      .form-group
        input.form-submit(type="submit", value="Save")
        br

    form(action='/projects/' + project._id + '/add-member', method="POST")
      .form-group
        label.form-label(for="memberSelect") Select Member:
        select.form-option-select(id="memberSelect" name="userName")
          each user in users
            if !project.team_members.includes(user)
              option(value=user.userName)= user.userName

      input.form-submit(type="submit", value="Add Team Member")
      br

      h2 Team Members:
        ul
          each member in project.team_members
            if member && member.userName
              li
                label
                  input(type="checkbox", name="manager", value=member._id, onchange="handleCheckboxChange(this)", checked=project.manager.toString() === member._id.toString())
                  | #{member.userName}
    form(action='/projects/' + project._id + '/add-manager', method="POST")
      input(type="hidden", name="manager", id="managerInput")
      input.form-submit(type="submit", value="Add Manager")